@use '../abstracts' as *;

header {
  background: #232536;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      gap: 40px;

      ul {
        display: flex;
        align-items: center;
        gap: 24px;

        a {
          color: white;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;

        }
      }

      button {
        padding: 12px 32px;
        background: #F58A07;
        color: white;
        font-size: 16px;
        font-weight: 600;
        line-height: 17.04px;
        border-radius: 20px;
        transition: .2s;

        &:active {
          opacity: .9;
          scale: .99;
        }

      }

      .menu-btn {
        display: none;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        background: 0;
        border-radius: 6px;
        height: 32px;
        width: 32px;

        svg {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 678px) {
  header {
    .header__content {
      div {
        gap: 18px;

        ul {
          z-index: 10;
          padding-bottom: 24px;
          position: absolute;
          top: 73px;
          left: 0;
          width: 100%;
          background: #232536;
          box-shadow: 0 3px 5px #0002;
          flex-direction: column;
          gap: 20px !important;
          justify-content: center;
          align-items: center;
          transition: .3s ease;
          transform-origin: top;
          transform: scaleY(0);
        }

        ul.show {
          transform: scaleY(1);
        }

        .menu-btn {
          display: flex;
        }
      }
    }
  }
}